{% extends 'admin/base.html.twig' %}

{% block body %}
<div class="blog-header">
    <div class="container">
        <h1 class="blog-title">The Bootstrap Blog</h1>
        <p class="lead blog-description">An example blog template built with Bootstrap.</p>
    </div>
</div>

    <div class="container">
        <a class="btn btn-success btn-sm pull-right" href="{{ url('admin-blog-add') }}">
            <i class="fa fa-plus"></i> Create Post
        </a>
        <div class="clearfix"></div>
        <hr />
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
        <table class="table table-bordered table-condensed">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Slug</th>
                <th>Action</th>
            </tr>
            {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.slug }}</td>
                    <td>
                        <a class="btn btn-warning btn-sm" href="{{ url('admin-blog-edit', { id: post.id }) }}">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                        <a class="btn btn-danger btn-sm" href="{{ url('admin-blog-delete', { id: post.id }) }}">
                            <i class="fa fa-trash"></i> Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}

{% block title %}Blog Posts{% endblock %}

